.navbar {
  position: fixed;
  z-index: 100;
  top: 20px;
  left: 0;
  width: 100vw;
  height: 70px;
  background: transparent;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 1rem;
  user-select: none;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  cursor: pointer;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.2s;
  padding: 0 10px;
  position: relative;
}

/* Underline setup */
.nav-item::after {
  content: "";
  display: block;
  margin: 6px auto 0 auto;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background: #e5e5e5;
  transition: width 0.4s;
}

/* Color and underline on hover/active */
.nav-item.active,
.nav-item:hover {
  color: #e5e5e5;
}

.nav-item.active::after,
.nav-item:hover::after {
  width: 80%;
}

@media (max-width: 900px) {
  .nav-list {
    gap: 1.25rem;
  }

  .navbar {
    height: 56px;
  }
}