.about_content_title {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
}

.about_content_text {
  font-family: "Poppins", sans-serif !important;
  color: #fff;
  font-weight: 200;
  font-size: 19px;
  line-height: 26px;
}
